@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.primary-font {
  font-family: 'Blocklyn-Grunge';
}

@font-face {
  font-family: 'Blocklyn-Grunge'; /*Can be any text*/
  src: local('Blocklyn-Grunge'),
    url('./fonts/Blocklyn-Grunge.ttf') format('truetype');
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  background-color: #31808f;
}
