@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-alice-carousel/lib/alice-carousel.css';

.tox-notification.tox-notification--in.tox-notification--warning {
  display: none;
}

.alice-carousel__wrapper {
  height: 530px !important;
}

.footer-slider .alice-carousel__wrapper {
  height: 200px !important;
}

.footer-slider .alice-carousel__stage-item {
  height: 200px;
}

.activity-slider .alice-carousel__wrapper {
  height: 400px !important;
}

.alice-carousel__dots-item:not(.__custom) {
  width: 16px !important;
  height: 16px !important;
  background-color: #55a1af61 !important;
}

.alice-carousel__dots-item:not(.__custom):hover,
.alice-carousel__dots-item:not(.__custom).__active {
  background-color: #31808f !important;
}

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.attraction-card {
  position: relative;
}

.description {
  //background: red;
}

.description ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.description ol,
.description ul {
  list-style: unset;
}

.description strong {
  font-weight: 600;
}

.primary-font {
  font-family: 'Blocklyn-Grunge';
}

.card-zoom {
  @apply relative overflow-hidden;
}

.card-zoom-image {
  @apply relative overflow-hidden w-full h-full transition-all duration-500 ease-in-out transform bg-center bg-cover z-0;
}

.card-zoom:hover .card-zoom-image {
  @apply scale-125;
}
.card-zoom:hover .card-zoom-text {
  @apply scale-100;
}

@font-face {
  font-family: 'Blocklyn-Grunge'; /*Can be any text*/
  src: local('Blocklyn-Grunge'),
    url('./fonts/Blocklyn-Grunge.ttf') format('truetype');
}

button:not(.faqs button),
[type='button'],
[type='reset'],
[type='submit'] {
  background-color: #31808f;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus {
  outline: none !important;
}

button:focus {
  outline: none !important;
}

@media (min-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}
